/* the props */
@import "open-props/style";

/* optional imports that use the props */
@import "open-props/normalize";
@import "open-props/buttons";
@import "open-props/switch/light";
@import "open-props/switch/dark";


h1, h2, h3, h4, h5, h6, p, ul, ol, hr, blockquote, pre {
  margin-bottom: 0.3em;
  margin-top: 1em;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child, ul:first-child, ol:first-child, hr:first-child, blockquote:first-child, pre:first-child {
  margin-top: 0;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child, ul:last-child, ol:last-child, hr:last-child, blockquote:last-child, pre:last-child {
  margin-bottom: 0;
}



h6 {
  font-size: var(--font-size-fluid-3);
}

p {
  font-size: var(--font-size-fluid-1);
}

ul, ol {
  font-size: var(--font-size-fluid-1);
}


[data-theme="dark"] {
  color-scheme: dark;

}

[data-theme="light"] {
  color-scheme: light;
  
}